<!doctype html>
<html lang="en">
	<head>
		<title>~</title>
		<style>html,body,a,span{font-weight:bold;font-family:monospace;text-decoration:none;color:#22112a;margin:0;padding:0;background:#22112a;height:100%;width:100%;display:block}img,span{position:absolute;top:50%;left:50%;margin:-161px 0 0 -161px;border:0}img{background:url(//i.9k1.us/) #af0;}span{width:auto;height:auto;text-align:right;width:98px;background-color:#af0;font-size:12px;line-height:42px;height:42px;margin:119px 0 0 49px}</style>
	</head>
	<body>
	<a href="http://www.rummik.com/"><img src="/qr/<?=$address;?>" width="322" height="322"><span><?=$address;?>@9k1.us</span></a>
	</body>
</html>
